#panel-login {
  margin: auto; }

h1 {
  color: blue; }

#panel-login {
  margin: auto; }

#panel-login {
  margin: auto; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s; }

#sidebar-wrapper {
  background: #222222;
  height: 100%;
  left: 70px;
  margin-left: -250px;
  position: fixed;
  transition: all .4s ease 0s;
  width: 250px;
  z-index: 10000;
  top: 0; }

.sidebar-nav {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 250px; }
  .sidebar-nav li {
    line-height: 60px;
    text-indent: 20px;
    font-size: 16px; }
    .sidebar-nav li a {
      -moz-transition: background .5s;
      -ms-transition: background .5s;
      -o-transition: background .5s;
      -webkit-transition: background .5s;
      background: #252525;
      border-bottom: 1px solid #1a1a1a;
      border-top: 1px solid #373737;
      color: #2b2e37;
      color: #2b2e37;
      display: block;
      display: block;
      float: left;
      text-decoration: none;
      text-decoration: none;
      transition: background .5s;
      width: 250px; }
      .sidebar-nav li a:hover {
        background: rgba(255, 255, 255, 0.2);
        color: #ffffff;
        text-decoration: none; }
      .sidebar-nav li a:active {
        text-decoration: none; }
      .sidebar-nav li a:focus {
        text-decoration: none; }

#page-content-wrapper {
  height: auto;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  width: 100%; }

#wrapper.active {
  padding-left: 150px; }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    transition: all .4s ease 0s;
    width: 250px; }

#sidebar_menu li a {
  -moz-transition: background .5s;
  -ms-transition: background .5s;
  -o-transition: background .5s;
  -webkit-transition: background .5s;
  background: #252525;
  border-bottom: 1px solid #1a1a1a;
  border-top: 1px solid #373737;
  color: #ffffff;
  display: block;
  float: left;
  text-decoration: none;
  transition: background .5s;
  width: 250px; }
  #sidebar_menu li a img {
    width: 65px;
    float: right;
    padding-top: 60px;
    padding-right: 5px; }

#sidebar_menu li #menu-toggle {
  background: -webkit-linear-gradient(#15f4be, #25c7d4); }

.sidebar_name {
  color: #ffffff;
  opacity: .7;
  padding-top: 25px; }

.sidebar-nav > .sidebar-brand {
  font-size: 18px;
  height: 200px;
  line-height: 200px; }
  .sidebar-nav > .sidebar-brand a {
    color: #ffffff; }
    .sidebar-nav > .sidebar-brand a:hover {
      background: none;
      color: #ffffff; }

#sidebar li:nth-child(1) a {
  background: #25c7d4; }
  #sidebar li:nth-child(1) a:hover {
    background: #4cd5e0; }

#sidebar li:nth-child(2) a {
  background: #3896ee; }
  #sidebar li:nth-child(2) a:hover {
    background: #67aff2; }

#sidebar li:nth-child(3) a {
  background: #e74738; }
  #sidebar li:nth-child(3) a:hover {
    background: #ec7166; }

#sidebar li a {
  color: white; }
  #sidebar li a img {
    width: 52px; }

#main_icon {
  float: right;
  padding-right: 29px;
  padding-top: 12px; }

.sub_icon {
  float: right;
  padding-right: 20px;
  padding-top: 14px; }

.content-header {
  height: 65px;
  line-height: 65px; }
  .content-header h1 {
    display: inline-block;
    line-height: 65px;
    margin-left: 20px;
    margin: 0; }

/* @media {
(max-width {
&:767px) {
#wrapper { padding-left: 70px;
transition: all .4s ease 0s;
}
}
} */
