.grey-dark-button{
	// padding-top:20px;
	// padding-bottom:20px;
	color: white;
	background-color: $grey-darker;
	border-radius: 0;
	border: 0;
	width: 100%;
	&:hover{
		color: $grey-lighter;
		background-color: $grey-darker;
		text-decoration: none;
	}
}
#intro-fluid{
	background-color:$grey-darker;
	padding:0px;
	height:100%;
	#intro{
		height: 70%;
		margin:0px;
		background-image: url(../img/3.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		border-radius: 0px;
		padding:0px;
		#intro-title{
			font-size:40px;
			font-weight: bold;
		}
		#intro-p{
			text-align: justify;
		}
		#intro-logo{
			img{
				margin-left: -250px;
				width: 150px;
				padding-top: 55px;
			}
		}
		#intro-button{
			padding-bottom: 24px;
			.grey-dark-button{
				font-size:25px;

				padding-top:15px;
				padding-bottom: 15px;
			}
		}
	}
}

#downloads{
	background-color:$grey-darker;
	border-radius:0px;
	color:white;
	h2{
		margin-top: - 30px;
		color:$grey-lighter;
		text-align:center;
		font-weight: 50;
		margin-bottom: 20px;
	}
	#badges{
		#badge-android{
			background-image:url(/img/badge-android.png);
			background-repeat: no-repeat;
			background-position: 30% 10%;
			height: 90px;
			background-size: 100%;


		}
		#badge-ios{
			background-image:url(/img/badge-ios.png);
			background-repeat: no-repeat;
			background-position: 30% 10%;
			height: 90px;
			background-size: 100%;
		}
	}
}