$bg-logo:#15f4be;
$house:#25c7d4;
$task:#3896ee;
$profile:#e74738;
$grey-darker:#2b2e37;
$grey-lighter:#d8d4d5;
body{
	font-family: sans-serif;
}


.grey-dark-button{
	// padding-top:20px;
	// padding-bottom:20px;
	color: white;
	background-color: $grey-darker;
	border-radius: 0;
	border: 0;
	width: 100%;
	&:hover{
		color: $grey-lighter;
		background-color: $grey-darker;
		text-decoration: none;
	}
}
#intro-fluid{
	background-color:$grey-darker;
	padding:0px;
	height:100%;
	#intro{
		height: 62%;
		margin:0px;
		background-image: url(../img/1.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		border-radius: 0px;
		padding:0px;
		#intro-title{
			font-size:40px;
			font-weight: bold;
		}
		#intro-p{
			text-align: justify;
		}
		#intro-logo{
			img{
				margin-left: -250px;
				width: 150px;
				padding-top: 55px;
			}
		}
		#intro-button{
			padding-bottom: 24px;
			.grey-dark-button{
				font-size:25px;

				padding-top:15px;
				padding-bottom: 15px;
			}
		}
	}
}

#downloads{
	background-color:$grey-darker;
	border-radius:0px;
	color:white;
	h2{
		margin-top: - 30px;
		color:$grey-lighter;
		text-align:center;
		font-weight: 50;
		margin-bottom: 20px;
	}
	#badges{
		#badge-android{
			background-image:url(/img/badge-android.png);
			background-repeat: no-repeat;
			background-position: 30% 10%;
			height: 90px;
			background-size: 100%;


		}
		#badge-ios{
			background-image:url(/img/badge-ios.png);
			background-repeat: no-repeat;
			background-position: 30% 10%;
			height: 90px;
			background-size: 100%;
		}
	}
}






// Color variables (appears count calculates by raw css)
$color0: #2b2e37; // Appears 4 times
$color1: #ffffff; // Appears 3 times
$color2: #373737; // Appears 2 times
$color3: #1a1a1a; // Appears 2 times
$color4: #252525; // Appears 2 times

$turquoise-primary:#25c7d4;
$bleu-primary:#3896ee;
$rouge-primary:#e74738;

// Width variables (appears count calculates by raw css)
$width0: 250px; // Appears 5 times
$width1: 100%; // Appears 2 times

// Height variables (appears count calculates by raw css)
$height0: 65px; // Appears 2 times
$height1: 100%; // Appears 2 times

#panel-login {
	margin: auto;
}
.row {
	margin-left:0px;
	margin-right:0px;
}
#wrapper {
//height: $height1;
padding-left: 70px;
transition: all .4s ease 0s;
}
#sidebar-wrapper {
    background: $color0;
    height: $height1;
    left: 70px;
    margin-left: -250px;
    position: fixed;
    transition: all .4s ease 0s;
    width: $width0;
    z-index: 10000;
    top:0;
    box-shadow:10px 0 10px rgba(0,0,0,0.3);
}
.sidebar-nav {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: $width0;
	li {
		line-height: 60px;
		text-indent: 20px;
		font-size: 16px;
		a {
			-moz-transition: background .5s;
			-ms-transition: background .5s;
			-o-transition: background .5s;
			-webkit-transition: background .5s;
			background: $color4;
			border-bottom: 1px solid $color3;
			border-top: 1px solid $color2;
			color: $color0;
			color: $color0;
			display: block;
			display: block;
			float: left;
			text-decoration: none;
			text-decoration: none;
			transition: background .5s;
			width: $width0;
			&:hover {
				background: rgba(255,255,255,0.2);
				color: $color1;
				text-decoration: none;
			}
			&:active {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
}
#page-content-wrapper {
	height: auto;
	margin-left: 0;
	padding-left: 0;
	width: $width1;
	width: $width1;
}
#wrapper.active {
	padding-left: 150px;
	#sidebar-wrapper {
		left: $width0;
		transition: all .4s ease 0s;
		width: $width0;
	}
}
#sidebar_menu {
	li {
		a {
			-moz-transition: background .5s;
			-ms-transition: background .5s;
			-o-transition: background .5s;
			-webkit-transition: background .5s;
			background: $color4;
			border-bottom: 1px solid $color3;
			border-top: 1px solid $color2;
			color: $color1;
			display: block;
			float: left;
			text-decoration: none;
			transition: background .5s;
			width: $width0;
			img {
				width:65px;
				float: right;
				padding-top: 60px;
				padding-right: 5px;
			}
		}
		#menu-toggle{
			background: -webkit-linear-gradient(#15f4be, #25c7d4);
		}
	}
}
.sidebar_name {
	color: $color1;
	opacity: .7;
	padding-top: 25px;
}
.sidebar-nav >.sidebar-brand {
	font-size: 18px;
	height: 200px;
	line-height: 200px;
	a {
		color: $color1;
		&:hover {
			background: none;
			color: $color1;
		}
	}
}

#sidebar {
    li{
        &:nth-child(1){
            a {
                background: $turquoise-primary;
                &:hover{
                    background: lighten($turquoise-primary, 10%)
                }
            }
        }
        &:nth-child(2){
            a {
                background: $bleu-primary;
                &:hover{
                    background: lighten($bleu-primary, 10%)
                }
            }
        }
        &:nth-child(3){
            a {
                background: $rouge-primary;
                &:hover{
                    background: lighten($rouge-primary, 10%)
                }
            }
        }
        a {
            color:white;
            box-shadow:inset 0px 4px 10px rgba(0, 0, 0, 0.3);
            img {
                width: 52px;
            }
        }
    }
}

#main_icon {
	float:right;
	padding-right: 29px;
	padding-top:12px;
}
.sub_icon {
	float:right;
	padding-right: 20px;
	padding-top: 14px;
}
.content-header {
	height: $height0;
	line-height: $height0;
	h1 {
		display: inline-block;
		line-height: $height0;
		margin-left: 20px;
		margin: 0;
	}
}


footer{
	background-color: $color0;
	color: white;
	padding: 6px;
	text-align: right;


}

.footer-info{
    padding: 4px 0 0 0;
    text-align: center;
}
.footer-info a{
	text-decoration: none;
	color: white;
}

.footer-social img{
	width: 30px;
	margin-left: 3px;
}

footer .navbar-fixed-bottom{
	bottom: 0px;
	position: fixed;
	width: 100%;
	height: 100px;

}

/* @media {
(max-width {
&:767px) {
#wrapper { padding-left: 70px;
transition: all .4s ease 0s;
}
}
} */   
