.panel-login-img {

}

#panel-login {
    .panel-body {
        padding: 0;
    }

    form {
        background: -webkit-linear-gradient(#15f4be, #25c7d4);
        background: -o-linear-gradient(#15f4be, #25c7d4);
        background: linear-gradient(#15f4be, #25c7d4);
        margin: 0;
        padding: 30px 15px;
        height: 60%;
    }
}