<div class="container" id="panel-login" style="margin-top: 70px;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" ng-submit="$ctrl.attemptLogin(email, password)" class="col-sm-5">
                    <div class="content-login">
                        <img src="../img/logo-blanc.png" alt="+MÖ" class="img-responsive text-center">
                        <h2 class=text-center>Connectez-vous</h2><br>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Saisissez votre mail" ng-model="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="motdepasse" placeholder="Mot de passe" ng-model="password">
                        </div>
                        <button type="submit" class="btn btn-lg btn-default">Connexion</button>
                        <div class="link text-center">
                            <a ui-sref="app.register">Vous avez des problèmes pour vous connecter ?</a><br>
                            <a ui-sref="app.register">Vous n'avez pas de compte ?</a>
                        </div>
                    </div>
                </form>
                <div class="col-sm-7 panel-login-img">
                    <div class="css-device css-device--mobile">
                        <img class="css-device__image" src="img/plumo-test.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>