
<footer class="navbar-fixed-bottom">
	<div class="row">
		<div class="col-md-12">
			<div class="footer-info col-md-9">
				<a ui-sref="app.download">
					<b>Télécharger Plumo</b>
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a ui-sref="app.legal">Mentions légales</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                © Plumo
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a ui-sref="app.contact">Contact</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</div>

			<div class="footer-social col-md-3">
				<a href="#"><img id="social" src="img/logo-facebook.png" alt="Facebook"/></a>
				<a href="#"><img id="social" src="img/logo-twitter.png" alt="Twitter"/></a>
				<a href="#"><img id="social" src="img/logo-google.png" alt="Google"/></a>
				<a href="#"><img id="social" src="img/logo-vimeo.png" alt="Vimeo"/></a>
				<a href="#"><img id="social" src="img/logo-youtube.png" alt="Youtube"/></a>
			</div>
		</div>
	</div>
	</footer
