
<footer class="navbar-fixed-bottom">
	<div class="row">
		<div class="footer-info col-md-offset-4 col-md-4 text-center">
			<a ui-sref="app.download">
				<b>Télécharger Plumo</b>
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a ui-sref="app.legal">Mentions légales</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            © Plumo
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a ui-sref="app.contact">Contact</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div class="footer-social col-md-4">
            <a href="#"><img id="social" src="img/logo-facebook.png" alt="Facebook"/></a>
            <a href="#"><img id="social" src="img/logo-twitter.png" alt="Twitter"/></a>
            <a href="#"><img id="social" src="img/logo-google.png" alt="Google"/></a>
        </div>
    </div>
</footer>
