<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a id="menu-toggle" href="#">+MÖ<img src="img/logo-blanc.png" alt="Logo plumo"></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">     
            <li><a uisref="#">Maison<img src="img/carre.png" alt="carre" class="sub_icon"></a></li>
            <li><a uisref="#">Tâches<img src="img/triangle.png" alt="triangle" class="sub_icon"></a></li>
            <li><a uisref="#">Profil<img src="img/rond.png" alt="rond" class="sub_icon"></a></li>
        </ul>
    </div>
</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
</script>