<div class="container-fluid" id="intro-fluid">    
    <div class="jumbotron" id="intro">
        <div class="container">
            <div id="intro-logo">
                <img src="../img/logo-noir.png" alt="">
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h1 id="intro-title">Pour une meilleure ambiance au sein de votre foyer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                  <p id="intro-p">
                      moles ero qui sitiusam, cupta doluptiam est everum delles et eume volorepedit quis maio magnisi blandignatia que dellace aquodit hitatium solorro bernatem aut quae veri doluptas dolo molor re, sumquo diam que site re versperum enimodit erat reritatium dolo
                  </p>
              </div>

          </div>
          <div class="row" id="intro-button">
           <div class="col-md-4"> 
               <a class="btn btn-lg btn-default grey-dark-button" href="#" role="button">Télécharger Plumo</a> 
           </div> 
           <div class="col-md-4"> 
               <a class="btn btn-lg btn-default grey-dark-button" href="#" role="button">S'inscrire</a> 
           </div> 
           <div class="col-md-4"> 
               <a class="btn btn-lg btn-default grey-dark-button" href="#" role="button">Se connecter</a> 
           </div> 
       </div>
   </div>
</div>
<div class="jumbotron" id="downloads">
    <div class="container">
        <div class="row" id="app-title">
            <h2>Application mobile gratuite</h2>
        </div>
        <div class="row" id="badges">
            <div class="col-md-offset-1">

                <div class="col-md-offset-1 col-md-3" id="badge-android"> 
                </div> 

                <div class="col-md-offset-3 col-md-3" id="badge-ios"> 

                </div> 
            </div>
        </div>
    </div>
</div>
</div>
