<div class="row">
    <div class="col-sm-12 text-center">
        <div ng-if="angular.isDefined($ctrl.house)">
            <h1>{{ $ctrl.house.name }}</h1>
            <p>{{ $ctrl.house.description }}</p>
        </div>
        <p>{{ $ctrl.house.description }}</p>
        <div ng-if="!angular.isDefined($ctrl.house)">
            <div class="col-sm-6 col-sm-offset-3">
                <ng-include src="'views/plumo-houses/common/house-form.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
