<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Les pièces</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th>Nom</th>
            <th>Description</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="room in $ctrl.rooms">
                <td>{{ room.name }}</td>
                <td>{{ room.description }}</td>
                <td>
                    <button type="button" ng-click="$ctrl.editRoom(room)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </td>
            </tr>
            <tr ng-if="$ctrl.displayEditRoom">
                <td>
                    <input type="text" ng-model="$ctrl.editRoom.name" placeholder="Nom">
                </td>
                <td>
                    <input type="text" ng-model="$ctrl.editRoom.description" placeholder="Description">
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.saveRoom($ctrl.editRoom)">
                        <i class="glyphicon glyphicon-floppy-save"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>