<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><strong>Maison</strong></h3></div>
    <div class="panel-body">
        <form role="form" ng-submit="$ctrl.saveHouse($ctrl.house)">
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Nom du foyer"
                ng-model="$ctrl.house.name">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Décrivez votre foyer ici"
                ng-model="$ctrl.house.description"></textarea>
            </div>
            <hr>
            <div ng-repeat="room in $ctrl.house.rooms" class="form-group">
                <input type="text" class="form-control" id="room" placeholder="Nom de la pièce" value="{{room.name}}">
                <input type="text" class=" form-control" id="description-room" placeholder="Description de la pièce" value="{{room.description}}">
            </div>
            <div ng-if="$ctrl.newRoom">
                <input type="text" class="form-control" id="room" placeholder="Nom de la pièce" ng-model="$ctrl.newRoom.name">
                <input type="text" class=" form-control" id="description-room" placeholder="Description de la pièce" ng-model="$ctrl.newRoom.description">
                <a ng-click="$ctrl.addRoom($ctrl.newRoom)">Ajouter pièces</a>
            </div>
            <a class="btn btn-sm btn-default" ng-click="$ctrl.displayNewroom()">Ajouter une pièce</a>
            <button type="submit" class="btn btn-sm btn-default">Créer ma maison</button>
        </form>
    </div>
</div>